:root {
  --vp-c-brand-1: #faa24a; /* Lighter shade for hover states */
  --vp-c-brand-2: #fe860a; /* Your main brand color */
  --vp-c-brand-3: #c8690a; /* Darker shade for active states */
  --vp-c-brand-soft: rgba(254, 134, 10, 0.16);

  --vp-home-hero-image-filter: blur(6rem);
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-2) 50%,
    var(--vp-c-brand-2) 50%
  );

  .logo {
    scale: 1.5;
  }

  .vp-doc {
    tbody {
      width: 100%;
    }
  }
}
